.adresse {font-size:12px; font-family: Arial, Helvetica, sans-serif}
.text {font-size:14px; font-family: Arial, Helvetica, sans-serif}
.klein {font-size:12px; font-family: Arial, Helvetica, sans-serif}
.gross {font-size:14px; font-family: Arial, Helvetica, sans-serif}
.initial {font-size:20px; font-family: Arial, Helvetica, sans-serif}
.initialklein {font-size:16px; font-family: Arial, Helvetica, sans-serif}
/*.initial { font-family:Times; font-size:26px; font-weight:bold; font-style:italicx}*/
.wielink {font-size:14px; font-family: Arial, Helvetica, sans-serif; line-height:18px}
.wielink2 {font-size:14px; font-family: Arial, Helvetica, sans-serif}
.stellen {font-size:16px; font-family: Arial, Helvetica, sans-serif}
.pulldown_gremien {font-size:12px; font-family: Arial, Helvetica, sans-serif}
.banner {font-size:9px; font-family: Arial, Helvetica, sans-serif}

a {font-size:14px; font-family: Arial, Helvetica, sans-serif; line-height:18px}
.mittel {font-size:12px; font-family: Arial, Helvetica, sans-serif; line-height:12px}
.ohne {font-size:11px; color:black; background-color:white; text-decoration:none; font-family: Arial, Helvetica, sans-serif; line-height:12px; margin-top:1px}
.erkl {font-size:12px; font-family: Arial, Helvetica, sans-serif; line-height:16px}
.zglink {font-size:14px; font-family: Arial, Helvetica, sans-serif; line-height:14px}
.h3 {font-size:20px; font-family: Arial, Helvetica, sans-serif}

h1 {font-size:34px; font-family: Arial, Helvetica, sans-serif}
h2 {font-size:29px; font-family: Arial, Helvetica, sans-serif}
.kleiner {font-size:26px; font-family: Arial, Helvetica, sans-serif}
h3 {font-size:20px; font-family: Arial, Helvetica, sans-serif}
.hoeher {font-size:20px; font-family: Arial, Helvetica, sans-serif; line-height:22px}

p {font-size:14px; font-family: Arial, Helvetica, sans-serif}
td {font-size:12px; font-family: Arial, Helvetica, sans-serif}
body {font-size:14px; font-family: Arial, Helvetica, sans-serif}
ul {font-size:14px; font-family: Arial, Helvetica, sans-serif}
li {font-size:14px; font-family: Arial, Helvetica, sans-serif}


/* Style Sheet zum WWW-Auftritt der */
/* Technischen Universität Berlin */
/* Layout und HTML: Pressestelle, pressestelle@tu-berlin.de */
/* November 2000 */
